Repository bardia-p/carleton-mail-delivery-robot, pull requests merged in 2024-03, with the labels that each got.

#52 Continue to Add Web App Functionality
  mail_delivery_robot/communication/__init__.py
  mail_delivery_robot/communication/client.py
  mail_delivery_robot/launch/robot.launch.py
  mail_delivery_robot/launch/test.launch.py
  mail_delivery_robot/setup.py
  webapp/src/main/java/com/cmds/webapp/WebappApplication.java
  webapp/src/main/java/com/cmds/webapp/controllers/APIController.java
  webapp/src/main/java/com/cmds/webapp/controllers/PageController.java
  webapp/src/main/java/com/cmds/webapp/models/Delivery.java
  webapp/src/main/java/com/cmds/webapp/models/Robot.java
  webapp/src/main/java/com/cmds/webapp/repos/DeliveryRepository.java
  webapp/src/main/java/com/cmds/webapp/repos/RobotRepository.java
  webapp/src/main/resources/static/static/scripts/common.js
  webapp/src/main/resources/static/static/scripts/createDelivery.js
  webapp/src/main/resources/static/static/scripts/loginUser.js
  webapp/src/main/resources/static/static/scripts/logoutFunc.js
  webapp/src/main/resources/static/static/scripts/registerUser.js
  webapp/src/main/resources/static/static/scripts/updateStatus.js
  webapp/src/main/resources/templates/index.html
  webapp/src/main/resources/templates/log.html
  webapp/src/main/resources/templates/login.html
  webapp/src/main/resources/templates/register.html
Labels: web app

#55 Diagrams and Web App Security Fix
  diagrams/ER_diagram.png
  diagrams/UML_diagram.png
  diagrams/gantt_chart.png
  diagrams/ganttchart.png
  diagrams/src/plantuml_files/ER_diagram.plantuml
  diagrams/src/plantuml_files/UML_diagram.plantuml
  diagrams/src/plantuml_files/gantt_chart.plantuml
  webapp/pom.xml
Labels: documentation, web app

#56 More Web App Changes
  diagrams/ER_diagram.png
  diagrams/UML_diagram.png
  diagrams/src/plantuml_files/ER_diagram.plantuml
  diagrams/src/plantuml_files/UML_diagram.plantuml
  webapp/src/main/java/com/cmds/webapp/aspect/LoginAspect.java
  webapp/src/main/java/com/cmds/webapp/aspect/NeedsLogin.java
  webapp/src/main/java/com/cmds/webapp/controllers/APIController.java
  webapp/src/main/java/com/cmds/webapp/controllers/PageController.java
  webapp/src/main/java/com/cmds/webapp/models/Delivery.java
  webapp/src/main/java/com/cmds/webapp/models/Robot.java
  webapp/src/main/resources/static/static/scripts/updateStatus.js
  webapp/src/main/resources/templates/createDelivery.html
  webapp/src/main/resources/templates/index.html
Labels: web app

#57 Added U_TURN to the state machine diagrams and updated the UML and ER.
  diagrams/ER_diagram.png
  diagrams/UML_diagram.png
  diagrams/gantt_chart.png
  diagrams/src/plantuml_files/ER_diagram.plantuml
  diagrams/src/plantuml_files/UML_diagram.plantuml
  diagrams/src/plantuml_files/state_machine_no_collision.plantuml
  diagrams/src/plantuml_files/state_machine_with_collision.plantuml
  diagrams/state_machine_no_collision.png
  diagrams/state_machine_with_collision.png
Labels: documentation

#46 Create3 transition
  mail_delivery_robot/communication/client.py
  mail_delivery_robot/config/config.csv
  mail_delivery_robot/control/action_translator.py
  mail_delivery_robot/control/robot_driver.py
  mail_delivery_robot/control/state_machine.py
  mail_delivery_robot/launch/robot.launch.py
  mail_delivery_robot/launch/test.launch.py
  mail_delivery_robot/navigation/captain.py
  mail_delivery_robot/perceptions/bumper_sensor.py
  mail_delivery_robot/stubs/stub_sensor.py
  mail_delivery_robot/test/test_state_machine.py
Labels: feature

#62 Adding Testing for the Web App
  webapp/src/main/java/com/cmds/webapp/controllers/APIController.java
  webapp/src/main/java/com/cmds/webapp/repos/SuperuserRepository.java
  webapp/src/main/resources/templates/admin.html
  webapp/src/main/resources/templates/log.html
  webapp/src/main/resources/templates/registerSuperuser.html
  webapp/src/test/java/com/cmds/webapp/APIControllerTests.java
  webapp/src/test/java/com/cmds/webapp/AppUserTests.java
  webapp/src/test/java/com/cmds/webapp/DeliveryTests.java
  webapp/src/test/java/com/cmds/webapp/PageControllerTests.java
  webapp/src/test/java/com/cmds/webapp/RobotTests.java
  webapp/src/test/java/com/cmds/webapp/SuperuserTests.java
  webapp/src/test/java/com/cmds/webapp/WebappApplicationTests.java
Labels: test, web app

#63 Emergency build fix
  webapp/src/test/java/com/cmds/webapp/APIControllerTests.java
Labels: bug, test, web app

#67 Fine tuning the code for the CREATE 3
  README.md
  images/create1.png
  images/create2.png
  images/create3.png
  mail_delivery_robot/communication/client.py
  mail_delivery_robot/config/beacons.csv
  mail_delivery_robot/config/config.csv
  mail_delivery_robot/control/action_translator.py
  mail_delivery_robot/control/state_machine.py
  mail_delivery_robot/navigation/captain.py
  mail_delivery_robot/navigation/map.py
  mail_delivery_robot/perceptions/beacon_sensor.py
  mail_delivery_robot/stubs/stub_sensor.py
Labels: bug
